<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio de Matis</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <p>Portfolio</p>

      <div class="burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="navbar" id="navbar">
        <a href="index.html">Accueil</a>
        <a href="index.html#apropos">À propos</a>
        <a href="index.html#projets">Projets</a>
      </nav>

      <div class="overlay" id="overlay"></div>
    </header>
    <div id="app">
      <div>
        <div v-if="selectedProject">
          <!-- sur ce div, tu va faire une vérification si le id du projet courant de la boucle == ce que tu aura récupéré en paramètre d'url -->
          <!-- v-if selectedProject permet d'afficher les donnes du projet qui a le id correspondant au parametre url (seulement si ce projet existe) -->
          <div class="info">
            <h2>{{ selectedProject.title }}</h2>
            <h3>{{ selectedProject.category }}</h3>
          </div>

          <div class="imagecentrale">
            <img :src="selectedProject.image" />
          </div>

          <div class="texte">
            <p>{{ selectedProject.paraun }}</p>
            <p>{{ selectedProject.paradeux }}</p>
          </div>

          <div class="btnjouer">
            <a
              :href="selectedProject.lien"
              v-if="selectedProject.id != 4 && selectedProject.id != 5"
              class="ajouer"
              >{{ selectedProject.textbouton }}</a
            >
          </div>
          <!-- v-if permet de ne pas afficher ce bouton sur le projet qui a le id egale a 4 -->

          <photo-gallery
            v-if="selectedProject.id == 4"
            :images="photos"
          ></photo-gallery>
          <!-- v-if permet d'afficher la photo-gallery seulement si le id du projet est egale a 4 -->

          <photo-gallery2
            v-if="selectedProject.id == 5"
            :images2="photos2"
          ></photo-gallery2>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <div class="footer-logos">
          <a href="mailto:matisghariani@icloud.com">
            <img src="./img/icons8-email-100.png" alt="" />
          </a>
          <a href="https://www.linkedin.com/in/matis-ghariani">
            <img src="./img/icons8-linkedin.svg" alt="" />
          </a>
          <a href="https://github.com/matisgh">
            <img src="./img/icons8-github.svg" alt="" />
          </a>
        </div>
        <p>&copy; 2025 - Matis Ghariani</p>
      </div>
    </footer>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
